# Discord Scrapper & Bot
DISCORD_TOKEN=

# Model Providers
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
GEMINI_API_KEY=""
OLLAMA_BASE_URL=""
GROQ_API_KEY=""

#CacheDb (Redis)
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=""

#DataDb-sqlite, postgres, mysql, mongodb
DB_PROVIDER=sqlite
SQLITE_DB_PATH=DataDb/data.db

#PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=""
POSTGRES_DB=discos

#MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=""
MYSQL_DB=discos

#MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=discos

#Qdrant Vector DB
QDRANT_URL=""
QDRANT_API_KEY=""

# Object Store Configuration
OBJECT_STORE_PROVIDER="minio"

OBJECT_STORE_ENDPOINT="localhost"
OBJECT_STORE_PORT=9000
OBJECT_STORE_USE_SSL=false

OBJECT_STORE_ACCESS_KEY="minioadmin"
OBJECT_STORE_SECRET_KEY="minioadmin"

OBJECT_STORE_DEFAULT_BUCKET="app-storage"
