# Environment variables for Generation module

# OpenAI
OPENAI_API_KEY=""

# Anthropic
ANTHROPIC_API_KEY=""

# Google Gemini
GEMINI_API_KEY="AIzaSyBI3Za-YxpnR0RQLWUnLfdEw9-8Lzxtd0I"

# Ollama local endpoint
OLLAMA_BASE_URL="http://localhost:11434"

# Groq
GROQ_API_KEY="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"
